---
permalink: "/education/"
layout: page
title: Education
description: The faculty in the Software Engineering and Architecture group (SEARCH) teaches bachelor and master level courses covering a range of topics, including software engineering, empirical software engineering, object-oriented design and programming, cloud computing, and software architecture.
sections:
- Courses
- Available Student Projects
- Previous Student Projects
---

{% comment %}
TO ADD
- **Student projects**
  - link to finalized BSc/MSc theses (RuG link)
{% endcomment %}

  {% include section-scroll-buttons.html sections=page.sections %}

  <section class="space-y-3">
    <h2>Courses</h2>
    {% assign courses = site.courses | where: 'degree', 'BSc' | sort: 'order' %}
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4">
      {% for course in courses %}
        {% include card-course.html course=course %}
      {% endfor %}
    </div>
    {% assign courses = site.courses | where: 'degree', 'MSc' | sort: 'order' %}
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-4">
      {% for course in courses %}
        {% include card-course.html course=course %}
      {% endfor %}
    </div>
  </section>

  {% assign available_projects = site.sprojects | where: "archived", "false"  %}
  <section>
    <h2>Available Student Projects</h2>
    <div class="flex">
      <ul id="filters" class="hidden md:inline pr-4 space-y-1"></ul>
      <div id="plist">
        <div class="list grid lg:grid-cols-2 gap-4">
          {% for project in available_projects %}
            {% capture suitability %}
              {% for type in project.types %}
              {% include badge.html text=type %}
              {% endfor %}
            {% endcapture %}

            <a href="{{ project.url }}">
              {% include card-content.html 
                content=project
                clickable=true
                show_description=true
                show_keywords=true
                show_contact=true
                extra1_header="Status"
                extra1_content=project.status
                extra2_header="Suitable for"
                extra2_content=suitability
              %}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  {% assign past_projects = site.sprojects | where: "archived", "true"  %}
  {% if past_projects.size > 0 %}
  <!-- TODO: this can be refactored into an include-->
    <section>
      <h2>Previous Student Projects</h2>
      {% include page-list.html pages=past_projects%}
    </section>
  {% endif %}

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.0/list.min.js"></script>
<script>
var options = { valueNames: [ 'keywords' ] };
var projectList = new List('plist', options);

// run a function after dom is ready
document.addEventListener('DOMContentLoaded', function() {
  // create a set of all keywords (span inside keywords div)
  var keywords = new Set();
  var keywordSpans = document.getElementsByClassName('keywords');
  for (var i = 0; i < keywordSpans.length; i++) {
    var spans = keywordSpans[i].getElementsByTagName('span');
    for (var j = 0; j < spans.length; j++) {
      keywords.add(spans[j].innerHTML.toLowerCase());
    }
  }
  // add checkbox filters to the filters div
  var filters = document.getElementById('filters');
  for (let keyword of Array.from(keywords).sort()) {
    var row = document.createElement('li');
    var checkbox = document.createElement('input');
    var label = document.createElement('label');

    filters.appendChild(row);
    row.className = 'w-max space-x-1';
    row.appendChild(checkbox);
    row.appendChild(label);
    checkbox.type = 'checkbox';
    checkbox.className = 'filter';
    checkbox.value = keyword;
    checkbox.onchange = filterList;
    label.innerHTML = keyword;
  }
});

function filterList() {
  var filters = document.getElementsByClassName('filter');
  var searchItems = [];
  for (var i = 0; i < filters.length; i++) {
    if (filters[i].checked) {
      searchItems.push(filters[i].value);
    }
  }
  if (searchItems.length == 0) {
    projectList.filter();
    return;
  }
  projectList.filter(function(item) {
    // items contains at least one of the searchItems
    return searchItems.some(function(searchItem) {
      return item.values().keywords.toUpperCase().indexOf(searchItem.toUpperCase()) !== -1;
    });
  });
}
</script>
