---
permalink: "/news/"
layout: page
title: SEARCH News Feed
description: See the updates about research projects, new or departing team members, industry collaboration, released datasets, student projects and other general updates about the Software Engineering and Architecture group (SEARCH) group of the University of Groningen.
---

  <div class="mt-4">
    {% assign linkedin_initial_count = 6 %}
    <div class="flex flex-wrap justify-center gap-4">
      {% for urn in site.data.linkedin_posts limit: linkedin_initial_count %}
        <iframe class="w-full max-w-[504px]" src="https://www.linkedin.com/embed/feed/update/{{ urn }}" height="856" loading="lazy" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
      {% endfor %}
    </div>
    {% assign linkedin_remaining = site.data.linkedin_posts | size | minus: linkedin_initial_count %}
    {% if linkedin_remaining > 0 %}
      <div id="more-linkedin-posts" class="hidden">
        <div class="flex flex-wrap justify-center gap-4 mt-4">
          {% for urn in site.data.linkedin_posts offset: linkedin_initial_count %}
            <iframe class="w-full max-w-[504px]" src="https://www.linkedin.com/embed/feed/update/{{ urn }}" height="856" loading="lazy" frameborder="0" allowfullscreen="" title="Embedded post"></iframe>
          {% endfor %}
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <button type="button" id="show-more-linkedin" class="w-full max-w-[504px] border rounded-lg py-2 text-primary hover:underline">
          Show {{ linkedin_remaining }} more post{% if linkedin_remaining != 1 %}s{% endif %}
        </button>
      </div>
    {% endif %}
  </div>
