<meta charset="utf-8">
<!-- meta -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
{% seo %}
<!-- icons -->
<link rel="icon" type="image/svg+xml" href="{{ '/uploads/branding/favicon.svg' | relative_url }}" sizes="any">
<link rel="apple-touch-icon" type="image/svg+xml" href="{{ '/uploads/branding/favicon.svg' | relative_url }}" sizes="any">
<link rel="shortcut icon" type="image/svg+xml" href="{{ '/uploads/branding/favicon.svg' | relative_url }}" sizes="any">
<!-- Google Fonts CDN -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600,700|Brawler:400" onload="this.onload=null;this.rel='stylesheet'">
<!-- styles -->
<link href="{{ '/assets/css/dist-style.css' | relative_url }}" rel="stylesheet">
<!--script tag for plausible analytics.-->
<script defer data-domain="search-rug.github.io" src="https://plausible.io/js/script.js"></script>