<div class='text-[color:var(--primary)] bg-white border-b-[color:var(--white-offset)] border-b border-solid px-0 py-2.5 block fixed w-full z-50 float-right top-0'>
  <div class="container flex justify-between items-center mx-auto px-4">
    <!-- logo -->
    <div class="block">
      <a class="block w-full h-full" href="/"><img class="max-w-unset h-[{{ site.logo.height }}]" alt="{{ site.title }}" src="{{ site.logo.image | relative_url }}" /></a>
    </div>
    <!-- main menu -->
    <div id="main-menu" class="py-2.5 collapse md:visible md:block">
      {% assign mainmenu = site.data.menus.main | sort: 'weight'  %}
      <ul class="flex items-center justify-start space-x-5">
        {% for item in mainmenu %}
        <li class="text-base hover:underline {% if item.url == page.url %}active font-bold{% endif %}">
          <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <!-- mobile menu button -->
    <button id="toggle-main-menu-mobile" class="hamburger hamburger--slider" type="button" aria-label="Mobile Menu">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
  <script src="https://identity.netlify.com/v1/netlify-identity.js"></script>
</div>
