<!--
  Expects a list of objects in the `contributions` include variable.
  Objects have following fields where ? marks an optional field:
    title: string
    description?: string
    download_count: int
    url: string
-->

<article class="rounded-lg border shadow-sm">
  <div class="flex gap-6 p-5">
    <div class="flex-grow space-y-2 contrib-card">
      {{ include.contribution.description }}
    </div>
    {% if include.contribution.download_count %}
      <div class="flex flex-col items-center">
        <p class="text-2xl font-semibold">{{ include.contribution.download_count }}</p>
        <p class="text-sm text-gray-500">Downloads</p>
      </div>
    {% endif %}
  </div>
</article>
