<div class="flex flex-row items-center p-2 rounded-xl border shadow-lg bg-[color:var(--white-offset)]">
    <div class="w-24 h-24 rounded-full overflow-hidden mr-2">
        <img alt="{{ member.title }}" class="w-full" src="{{ member.image | relative_url }}" />
    </div>
    <div class="w-auto">
        <h2 class="font-['Brawler'] text-md mb-0 text-[color:var(--primary)]">
            <a href="{{member.contact.homepage}}" target="blank">{{ member.title }}</a>
        </h2>
        <p class="text-md text-gray-500 mb-4">
            {{ member.position }}
            {% if member.position_remark %}
                ({{ member.position_remark }})
            {% endif %}
        </p>
        {% if include.show_fields %}
        <div>
            {% for field in member.fields %}
                <span class="font-sans inline-block p-1 text-center text-xs align-baseline leading-none rounded bg-gray-800 text-white">{{field}}</span>
            {% endfor %}
        </div>
        {% endif %}

        <div class="block">
            {% if member.contact.email -%}
            <a class="inline-block px-1 py-2.5 hover:opacity-80" href="mailto:{{member.contact.email}}" target="blank">
                <svg class="w-5 h-5">
                    <use xlink:href="/assets/graphics/sprites.svg#email"></use>
                </svg>
            </a>
            {% endif %}
            {% for item in member.social %}
            <a class="inline-block px-1 py-2.5 hover:opacity-80" href="{{item[1]}}" target="blank">
                <svg class="w-5 h-5">
                    <use xlink:href="/assets/graphics/sprites.svg#{{item[0]}}"></use>
                </svg>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
