<div class="rounded-xl border shadow-lg p-3">
  <div class="flex items-top h-full">
    <!-- Member image -->
    <div class="pr-3">
      <div class="w-24 h-24 overflow-hidden rounded-md">
        <img
          alt="{{ member.title }}"
          title="{{ member.title }}"
          loading="lazy"
          class="w-full"
          src="{{ member.image | relative_url }}"
          />
      </div>
    </div>
    <!-- Member info -->
    <div class="flex flex-col w-full">
      <p class="font-serif text-lg mb-0 text-primary">
        <a href="{{member.contact.homepage}}" rel="noopener" target="_blank">{{ member.title }}</a>
      </p>
      <p class="text-md text-gray-500 mb-2">
        {{ member.position }}
        {% if member.position_remark %}
            <span class="text-md">({{ member.position_remark }})</span>
        {% endif %}
      </p>
      <!-- Email and phone -->
      <div class="grow">
        <div class="flex items-center">
          {% if member.contact.email -%}
          <svg class="mr-2 w-4 h-4">
            <use xlink:href="/assets/graphics/sprites.svg#email"></use>
          </svg>
          <div class="text-sm">{{member.contact.email}}</div>
          {% endif %}
        </div>
        <div class="flex items-center">
          {% if member.contact.phone -%}
          <svg class="mr-2 w-4 h-4">
            <use xlink:href="/assets/graphics/sprites.svg#phone"></use>
          </svg>
          <div class="text-sm">{{member.contact.phone|replace: ' ','' }}</div>
          {% else %}
          <div class="h-5"></div>
          {% endif %}
        </div>
      </div>
      <!-- Publications and Social -->
      <div class="flex mt-2">
        {% if member.publications -%}
        <div class="flex flex-col w-1/2">
          <div class="mb-1 text-primary">Publications</div>
          <ul class="list-inside flex justify-start space-x-2">
            {% for item in member.publications %}
            <a href="{{item[1]}}" rel="noopener" target="_blank">
                <svg class="w-4 h-4">
                    <use xlink:href="/assets/graphics/sprites.svg#{{item[0]}}"></use>
                </svg>
            </a>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% if member.social -%}
        <div class="flex flex-col w-1/2">
          <div class="mb-1 text-primary">Social</div>
          <ul class="list-inside flex justify-start space-x-2">
            {% for item in member.social %}
            <a href="{{item[1]}}" rel="noopener" target="_blank">
                <svg class="w-4 h-4">
                    <use xlink:href="/assets/graphics/sprites.svg#{{item[0]}}"></use>
                </svg>
            </a>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
