<div class="team team-card {% if include.compact %}team-compact{% endif %}">
    <div class="team-image-wrap">
        <div class="team-image">
            {% if member.image %}
            <img alt="{{ member.title }}" class="max-w-full h-auto mb-2" src="{{ member.image | relative_url }}" />
            {% else %}
            <img alt="{{ member.title }}" class="max-w-full h-auto mb-2" src="{{ site.team.default_avatar | relative_url }}" />
            {% endif %}
        </div>
    </div>
    <div class="team-meta">
        <h2 class="team-name"><a href="{{member.contact.homepage}}" target="blank">{{ member.title }}</a></h2>
        <p class="team-position">
            {{ member.position }}
            {% if member.position_remark %}
                <span class="team-remark">({{ member.position_remark }})</span>
            {% endif %}
        </p>
        {% if include.show_fields %}
        <p>
            {% for field in member.fields %}
                <span class="font-sans inline-block p-1 text-center text-xs align-baseline leading-none rounded bg-gray-800 text-white">{{field}}</span>
            {% endfor %}
        </p>
        {% endif %}

        {% if include.compact %}
        <p class="block">
            {% if member.contact.email -%}
            <a class="inline-block px-1 py-2.5 hover:opacity-80" href="mailto:{{member.contact.email}}" target="blank">
                <svg class="w-5 h-5">
                    <use xlink:href="/assets/sprites.svg#email"></use>
                </svg>
            </a>
            {% endif %}
            {% for item in member.social %}
            <a class="inline-block px-1 py-2.5 hover:opacity-80" href="{{item[1]}}" target="blank">
                <svg class="w-5 h-5">
                    <use xlink:href="/assets/sprites.svg#{{item[0]}}"></use>
                </svg>
            </a>
            {% endfor %}
        </p>
        {% else %}
        <div class="block">
            <span class="mr-2">
                {% if member.contact.email -%}
                <a class="inline-block px-1 py-2.5 hover:opacity-80" href="mailto:{{member.contact.email}}" target="blank">
                    <svg class="w-5 h-5">
                        <use xlink:href="/assets/sprites.svg#email"></use>
                    </svg>
                </a>
                {% endif %}
                {% if member.contact.phone -%}
                <a class="inline-block px-1 py-2.5 hover:opacity-80" href="tel:{{member.contact.phone|replace: ' ','' }}" target="blank">
                    <svg class="w-5 h-5">
                        <use xlink:href="/assets/sprites.svg#phone"></use>
                    </svg>
                </a>
                {% endif %}
            </span>
            {% for item in member.publications %}
            <a class="inline-block px-1 py-2.5 hover:opacity-80" href="{{item[1]}}" target="blank">
                <svg class="w-5 h-5">
                    <use xlink:href="/assets/sprites.svg#{{item[0]}}"></use>
                </svg>
            </a>
            {% endfor %}
        </div>
        {% if member.social %}
        <div class="block team-social space-x-4">
            {%- for item in member.social -%}
            <a class="inline-block px-1 py-2.5 hover:opacity-80" href="{{item[1]}}" target="blank">
                <svg class="w-6 h-6">
                    <use xlink:href="/assets/sprites.svg#{{item[0]}}"></use>
                </svg>
            </a>
            {%- endfor -%}
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>
