.news-post-cards {
  max-width: 24rem;
  width: 100%;
}

.news-post-dates {
  display: none;
}

@include media-breakpoint-up(md) {
  .news-post-dates {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
  }
}

@include media-breakpoint-up(lg) {
  .news-post-cards {
    max-width: 49rem;
  }
}

// @include media-breakpoint-up(lg) {
//   .news-post-cards {
//     max-width: 64rem;
//   }
// }

// @include media-breakpoint-up(xl) {
//   .news-post-cards {
//     max-width: 32rem;
//   }
// }
