.page-home {
    .vision {
        font-family: "Rokkit", serif, -apple-system;
        font-size: 1.2rem;
        font-weight: light;
        line-height: 1.5;
        font-style: italic;
        color: #333333;
    }
    .research-field {
        h2 {
            color: $link-color;
        }
    }
}
