---
---

// Colors
$primary: #e5261f;
$primary-dark: #a01b16;
$secondary: #f88379;
$black: #2f2f41;
$white: #ffffff;
$white-offset: #fff6f8;
$steel: #5c5a5a;

// Links
$link-color: $primary;
$link-decoration: none;
$link-hover-color: lighten($primary, 10%);
$link-hover-decoration: underline;

:root {
  --primary: #{$primary};
  --link-color: #{$link-color};
}

// Fonts
// BODY FONTS TO TEST
// @import 'https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Rubik:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Carme:400';
// @import 'https://fonts.googleapis.com/css?family=Bitter:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Rokkit:200,300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,600,700';
$font-family-base: "Work Sans", Arial, sans-serif, -apple-system;

// TITLE FONTS TO TEST
// @import 'https://fonts.googleapis.com/css?family=Alegreya:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Abhaya+Libre:300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700';
// @import 'https://fonts.googleapis.com/css?family=Enriqueta:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Brawler:400';
$font-family-heading: "Brawler", serif, -apple-system;

// Footer
$sub-footer-background-color: darken($primary, 10%);
$sub-footer-text-color: $white;

// Libraries
@import "libraries/hamburgers/hamburgers";

// Components
@import "components/type";
@import "components/header";
@import "components/sub-footer";
@import "components/logo";
@import "components/main-menu";
@import "components/main-menu-mobile";
@import "components/hamburger";
@import "components/buttons";
@import "components/call";
@import "components/title";
@import "components/content";
@import "components/intro";
@import "components/strip";
@import "components/icons";
@import "components/team-card";
@import "components/project-card";
@import "components/news-card";
// @import "components/fonts"; // Uncomment this line to self host font

// Pages
@import "pages/page-news"; 

body {
  font-size: 16px;
  line-height: 1.2;
  font-family: $font-family-base;
  @media (min-width: 768px){
    font-size: 16px;
    line-height: 1.3;
  }
}
