.header {
  color: $primary;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
  border-bottom: 1px solid $white-offset;
  padding: 10px 0px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &.header-absolute {
    position: absolute;
    z-index: 10;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .scrolled-down{
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
  }
  .scrolled-up{
    transform: translateY(-100%);
    transition: all 0.3s ease-in-out;
  }
  .start-hidden {
    display: none;
  }
}
.header-autohide {
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  @media (min-width: 768px) {
    position: fixed !important;
    float: right;
    display: block;
  }
}
.header-fixed {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1000;
  float: right;
  display: block;
}
.lock-scroll {
  .header {
    &.header-absolute {
      position: static;
    }
  }
}
