.intro-image {
  width: 100%;
  height: auto;
  // margin-top: -40px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @media (min-width: 640px) {
  }
  @media (min-width: 768px) {
    position: absolute;
    bottom: -50px;
    left: -50px;
    width: 700px;
  }
  @media (min-width: 1024px) {
    bottom: -60px;
    left: -60px;
    width: 800px;
  }
  @media (min-width: 1280px) {
    bottom: -100px;
    left: -70px;
    width: 850px;
  }
}
.intro-image-hide-mobile {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
