.logo {
  display: none;
  @media (min-width: 640px) {
    display: block;
  }
  img {
    max-width: unset;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.logo-mobile {
  display: block;
  width: 40px;
  padding: 10px 0 10px 0;
  @media (min-width: 640px) {
    display: none;
  }
  img {
    max-width: unset;
  }
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}