.news-card:hover {
  transform: scale(1.0125) translateY(-5px);
}

.news-card {
  display: flex;
  flex-direction: column;

  padding: 1.25rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;

  // set border styles
  border-style: solid;
  border-width: 1px;
  border-radius: 0.75rem;
  border-color: #e5e7eb;
  max-width: 24rem;
  height: 100%;

  // transition
  transition: transform;
  transition-duration: 100ms;
  transition-timing-function: ease-out;

  p {
    margin: 0px;
  }

  .keywords {
    margin-top: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    span {
      white-space: nowrap;
      border-radius: 9999px;
      padding-left: 0.625rem;
      padding-right: 0.625rem;
      font-size: 0.75rem;
      line-height: 1rem;
      padding-top: 0.125rem;
      padding-bottom: 0.125rem;
      background-color: rgb(254, 226, 226);
      color: rgb(185, 28, 28);

      /*  Enforce capitalized words since user defined keywords are inconsistent.
          TODO: maybe remove this once CMS is in place? */
      text-transform: capitalize;
    }
  }

  // default font size for component
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;

  background-color: white;
  //background-color: #F3F4F6;

  .title {
    margin: 0px;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
}
