.sub-footer {
  background: $sub-footer-background-color;
  color: $sub-footer-text-color;
  svg {
    fill: $sub-footer-text-color;
  }
  padding-top: 15px;
  padding-bottom: 15px;
  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .sub-footer-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 768px) {
      flex-direction: row;
    }
  }
  .copyright {
    margin-top: 10px;
    font-size: 10px;
    a {
      font-weight: bold;
      color: inherit;
    }
    @media (min-width: 640px) {
      font-size: 14px;
    }
  }
}
