---
title: Contact
layout: default
bodyClass: "page-contact"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
    
    <h1 class="title">{{page.title}}</h1>
    <div class="row justify-content-start">
        {% if page.group_leader.show %}
            {% assign leader = site.team | where: "status.group_leader", true %}
            {% for member in leader %}
            <div class="col-12 col-md-6 mb-2">
                <div class="content">
                    <h1>{{page.group_leader.title}}</h1>
                </div>
                {% include team-card.html member=member compact=true%}
            </div>
            {% endfor %}
        {% endif %}
        
        {% if page.secretariat.show %}
        <div class="col-12 col-md-6 mb-2">
            <div class="content">
                <h1>{{page.secretariat.title}}</h1>
            </div>
            <div class="call">
                <div class="call-box-top">
                    {% if page.secretariat.email %}
                    <div class="call-item"><strong>Email: </strong>
                        <a href="mailto:{{ page.secretariat.email }}">
                        {{ page.secretariat.email }}
                        </a>
                    </div>
                    {% endif %}
                    {% if page.secretariat.phone %}
                    <div class="call-item"><strong>Phone: </strong>
                        <a href='tel:{{ page.secretariat.phone | replace: " ", "" | replace: "-", "" | replace: "(", "" | replace: ")", ""}}'>
                            {{ page.secretariat.phone }}
                        </a>
                    </div>
                    {% endif %}
                    {% if page.secretariat.fax %}
                    <div class="call-item">
                        <strong>Fax: </strong>{{ page.secretariat.fax }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row justify-content-start">
        <div class="col-auto">
            <div class="content mt-4">{{content}}</div>
        </div>
    </div>
</div>
