---
layout: default
bodyClass: "page-education"
---

<div class="container mx-auto px-4 pb-6 pt-[100px] space-y-8 pb-md-10">
  <h1 class="text-black text-5xl leading-5 lg:text-[50px] font-semibold">{{ page.title }}</h1>

  <!--
    <div class="content mt-4">
      {{ content }}
    </div>
  -->
  {% assign available_projects = site.sprojects | where: "available", "true"  %}
  <section class="space-y-3">
    <h2 class="text-2xl">Available Student Projects ({{ available_projects.size }})</h2>
    <div class="grid lg:grid-cols-2 gap-4">
      {% for project in available_projects %}
        {% include project-card.html project=project %}
      {% endfor %}
    </div>
  </section>

  {% assign past_projects = site.sprojects | where: "available", "false"  %}
  {% if past_projects.size > 0 %}
    <section class="space-y-3">
      <h2 class="text-2xl">Previous Student Projects ({{ past_projects.size }})</h2>
      <ul>
        {% for project in past_projects %}
          <li><a href="{{ project.url }}" class="underline">{{ project.title }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</div>
