---
layout: default
bodyClass: "page-education"
---

<div class="container mx-auto px-4 pb-6 pt-[100px] space-y-8 pb-md-10">
  <h1 class="text-black text-5xl leading-5 lg:text-[50px] font-semibold">{{ page.title }}</h1>

  <!--
    <div class="content mt-4">
      {{ content }}
    </div>
  -->
  <section class="space-y-3">
    <h2 class="text-2xl">Student Projects</h2>
    <div class="grid lg:grid-cols-2 gap-4">
      {% for project in site.sprojects %}
        {% include project-card.html project=project %}
      {% endfor %}
    </div>
  </section>
</div>
