---
layout: default
bodyClass: "page-home"
---

<div class="intro">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-start">
      {% if page.intro_image %}
      <div class="w-full md:w-2/5 pr-4 pl-4 lg:w-1/2 pr-4 pl-4 order-1 md:order-1 relative">
        <img alt="{{ page.title }}" class="w-full h-auto hidden md:block" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
      <div class="w-full md:w-3/5 pr-4 pl-4 lg:w-1/2 pr-4 pl-4 order-2 md:order-2">
        {{ content }}
        {% include social.html %}
      </div>
    </div>
  </div>
</div>

<div class="strip strip-grey">
  <div class="container mx-auto px-4 pt-6 pb-6">
    <div class="flex flex-wrap justify-start items-center">
        <div class="w-full md:w-2/3 pr-4 pl-4 lg:w-2/3 pr-4 pl-4 order-2 md:order-1">
          <h1 class="text-3xl lg:text-4xl mb-8">{{page.vision.title}}</h1>
          <p class="font-['Rokkit'] font-light italic md:leading-6 lg:leading-8 xl:leading-10 md:text-lg lg:text-2xl xl:text-3xl">
            {{page.vision.text}}
          </p>
        </div>
        <div class="w-full md:w-1/3 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 order-1 md:order-2 relative">
            <img alt="{{page.vision.title}} image" class="w-full h-auto hidden md:block" src="{{ page.vision.image | relative_url }}" />
        </div>
    </div>
  </div>
  <div class="container mx-auto px-4 pt-6 pb-6">
    <div class="flex flex-wrap justify-start">
      {% for field in site.data.fields %}
      <div class="w-full md:w-1/2 pr-4 pl-4 mb-1">
        <div>
          <h2 class="text-[color:var(--link-color)] text-3xl mb-5 mt-8">{{ field.title }}
            <span class="font-sans inline-block p-1 text-center text-xs align-baseline leading-none rounded bg-gray-800 text-white">
            {{ field.tag }}
            </span>
          </h2>
          <p>{{ field.description | markdownify }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container mx-auto px-4 pt-6 pb-10">
  <div class="flex flex-wrap justify-center">
    <div class="col-auto">
      <h1 class="text-4xl mt-10 mb-8 text-center">Head Researchers</h1>
    </div>
  </div>
  <div class="flex flex-wrap">
    {% assign promoted_members = site.team | where: "status.promoted", true | sort: "weight" %}
    {% for member in promoted_members %}
    <div class="w-full md:w-1/2 pr-4 pl-4 mb-6">
      {% include team-card.html member=member compact=true show_fields=true %}
    </div>
    {% endfor %}
  </div>
  <div class="flex flex-wrap justify-center">
    <div class="col-auto">
      <a class="button button-primary" href="{{ 'team' | relative_url }}">meet the whole team</a>
    </div>
  </div>
</div>

<!--
<div class="strip strip-grey">
  <div class="container mx-auto px-4 pt-6 pb-10">
    <div class="flex flex-wrap justify-start items-center">
      <div class="w-full md:w-1/3 pr-4 pl-4 lg:w-1/3 pr-4 pl-4 order-1 md:order-1 relative">
        <img alt="{{page.research.title}} image" class="w-full h-auto hidden md:block" src="{{ page.research.image | relative_url }}" />
      </div>
      <div class="w-full md:w-2/3 pr-4 pl-4 lg:w-2/3 pr-4 pl-4 order-2 md:order-2">
        <h1 class="text-4xl mb-8">{{page.research.title}}</h1>
        <p>{{page.research.text}}</p>
      </div>
    </div>
    <div class="flex flex-wrap justify-center">
      <div class="col-auto">
        <a class="button button-primary" href="{{ 'research' | relative_url }}">check all output</a>
      </div>
    </div>
  </div>
</div>
-->
