---
layout: default
bodyClass: "page-home"
---

<div class="flex justify-start items-center overflow-hidden pt-20 pb-8 md:pb-18">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap place-content-center">
      {% if page.intro_image %}
      <div class="hidden md:block pr-4">
        <img alt="{{ page.title }}" class="w-40 lg:w-60 h-auto" src="{{ page.intro_image | relURL }}" />
      </div>
      {% endif %}
      <div>
        <h1 class="text-3xl lg:text-4xl xl:text-5xl mb-2 lg:mb-4">{{ page.title }}</h1>
        <h2 class="text-xl xl:text-2xl mb-2 lg:mb-4 hidden md:block">{{ page.subtitle }}</h2>
        <p class="text-lg lg:text-xl font-light italic text-center md:text-left">
          {{ page.slogan }}
        </p>
        <div class="block mt-2 lg:mt-6">
          <div class="flex place-content-center md:justify-start">
            {% for item in site.data.social %}
            <a class="inline-block p-2.5 hover:opacity-80" href="{{ item.link }}" target="blank">
              <svg class="w-10 h-10"><use xlink:href="{{ item.image | relative_url }}"></use></svg>
            </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-offwhite py-8 px-4 md:px-0">
  <div class="container mx-auto">
    <div class="flex justify-start items-center">
        <div class="grow">
          <h2 class="text-2xl lg:text-3xl xl:text-4xl mb-4 lg:mb-6">{{page.vision.title}}</h1>
          <p class="font-sans font-light italic md:leading-6 lg:leading-8 xl:leading-10 md:text-lg lg:text-xl xl:text-2xl">
            {{page.vision.text}}
          </p>
        </div>
        <div class="flex-none pl-4 hidden md:block">
            <img alt="{{page.vision.title}} image" class="w-40 lg:w-52 h-auto" src="{{ page.vision.image | relative_url }}" />
        </div>
    </div>
  </div>
  <div class="container mx-auto mt-8">
    <div class="grid md:grid-cols-2 gap-4">
      {% for field in site.data.fields %}
      <div>
        <h2 class="flex flex-row items-center mb-2 lg:mb-4 xl:mb-5">
          <span class="text-primary text-xl lg:text-2xl xl:text-3xl mr-2">{{ field.title }}</span>
          <span class="font-sans inline-block p-1 text-center text-xs align-baseline leading-none rounded bg-gray-800 text-white">
            {{ field.tag }}
          </span>
        </h2>
        <p class="text-sm md:text-base lg:text-lg">{{ field.description }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="container mx-auto px-4 pt-6 pb-10">
  <div class="flex flex-wrap justify-center">
    <div class="col-auto">
      <h1 class="text-2xl lg:text-3xl xl:text-4xl mt-10 mb-8 text-center">Head Researchers</h1>
    </div>
  </div>
  <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
    {% assign promoted_members = site.team | where: "status.promoted", true | sort: "weight" %}
    {% for member in promoted_members %}
      {% include team-card-compact.html member=member show_fields=true %}
    {% endfor %}
  </div>
  <div class="flex flex-wrap justify-center mt-6">
    <a class="rounded bg-primary hover:bg-red-500 px-3.5 py-2 text-sm text-white uppercase" href="{{ 'team' | relative_url }}">meet the whole team</a>
  </div>
</div>
