---
layout: page
---

  <div class="flex justify-between mt-4">
    <div class="grow hidden md:flex md:flex-col space-y-2">
      {% for post in site.news reversed %}
        <a class="text-primary hover:underline" href="{{ post.url }}">{{ post.date | date_to_long_string}}</a>
      {% endfor %}
    </div>
    <div class="grid lg:grid-cols-2 gap-4">
      {% for post in site.news reversed %}
        <a href="{{ project.url }}" class="max-w-sm">
          {% include card-content.html 
            content=post
            clickable=true
            show_date=true
            show_keywords=true
          %}
        </a>
      {% endfor %}
    </div>
  </div>
