---
layout: default
bodyClass: "page-news"
---

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <h1 class="title">{{page.title}}</h1>
  <div class="content">
    {{ content }}
  </div>
  <div class="d-flex news-feed justify-content-between mt-4">
    <div class="d-flex flex-column news-post-dates fs-1 " style="gap: 5px;">
      {% for post in site.news reversed %}
        <a href="{{ post.url }}">{{ post.date | date_to_long_string}}</a>
      {% endfor %}
    </div>
    <div class="d-flex flex-wrap news-post-cards" style="gap: 15px">
      {% for post in site.news reversed %}
        {% include news-card.html post=post %}
      {% endfor %}
    </div>
  </div>
</div>

