---
title: Research
layout: default
bodyClass: "page-research"
---

<div class="container space-y-8 mx-auto px-4 pb-6 pt-[100px] pb-md-10">
  <h1 class="text-black text-5xl leading-5 lg:text-[50px] font-semibold mb-8">{{page.title}}</h1>
  <section class="space-y-3">
    {% assign active_projects = site.projects | where_exp: "project", "project.status == 'In Progress'"  %}
    <h2 class="text-2xl">Research Projects ({{active_projects.size}}) </h2>
    <div class="grid lg:grid-cols-2 gap-4">
      {% for project in active_projects %}
        <a href="{{ project.url }}">
          {% include research-project-card.html clickable=true project=project %}
        </a>
      {% endfor %}
    </div>

    {% assign past_projects = site.projects | where_exp: "project", "project.status != 'In Progress'"  %}

    {% if past_projects.size > 0 %}
      <h2 class="text-2xl">Past Projects ({{ past_projects.size }})</h2>
      <ul>
        {% for project in past_projects %}
        <li class="underline"> <a href="{{ project.url }}">{{ project.title }}</a> </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
</div>
