---
title: Research
layout: default
bodyClass: "page-research"
---

<div class="container mx-auto px-4 pb-6 pt-[100px] pb-md-10">
  <h1 class="text-black text-5xl leading-5 lg:text-[50px] font-semibold mb-8">{{page.title}}</h1>

  <section class="space-y-4">
    <h2 class="text-2xl">Research Projects</h2>

    <div class="grid lg:grid-cols-2 gap-4">
      {% for project in site.projects %}
        {% include research-project-card.html clickable=false project=project %}
      {% endfor %}
    </div>

  </section>
</div>
