---
layout: default
bodyClass: "page-team"
---

<div class="intro container mx-auto px-4 pt-[100px] pb-2">
    <div class="flex flex-wrap  justify-start">
        <div class="col-auto">
          <h1 class="text-center text-5xl font-semibold mb-8">{{page.title}}</h2>
        </div>
    </div>
</div>

<div class="container mx-auto px-4 pb-6">
    <div class="grid md:grid-cols-2 xl:grid-cols-3 gap-6">
        {% assign members = site.team | where: "status.former", false | sort: "weight" %}
        {% for member in members %}
            {% include team-card.html member=member %}
        {% endfor %}
    </div>
</div>

<div class="container mx-auto px-4">
    <h1 class="text-4xl font-semibold mb-8">Former Members</h1>
    <ul class="list-disc list-inside space-y-1">
        {% assign exmembers = site.team | where: "status.former", true | sort: "weight" %}
        {% for exmember in exmembers %}
        <li>
            {% if exmember.contact.homepage %}
                <a class="underline" href="{{exmember.contact.homepage}}" target="blank">{{ exmember.title }}</a>
            {% else %}
                {{ exmember.title }}
            {% endif %}
            {% if exmember.status.group_graduate %}
            <span class="team-former-phd">(graduated PhD student)</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
